<header class="jumbotron text-center">
    <h4>E-Product order App</h4>
</header>

<main>
    <article>
        <section>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Minima et tenetur nostrum molestias aperiam obcaecati at laborum quasi. 
            At ipsam excepturi ratione rem dolorem quos dignissimos 
            et inventore itaque quibusdam.

            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Exercitationem officia dolorum eius. Quaerat maiores possimus, 
            qui aliquid aspernatur esse cumque obcaecati, 
            doloremque quasi ipsam vel hic adipisci neque molestias cupiditate!
            
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Esse debitis minima amet quidem pariatur! Ab beatae inventore laborum? 
            Eius asperiores placeat illo, 
            architecto accusamus harum nulla nostrum aperiam mollitia in.
        </section>
    </article>
</main>